/* falta agregar responsive */

*{
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    position: relative;
    height: 1024px;
}
h4.descuentos{
    position: relative;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding: 10px;
}

h4{
    background-color: #1CD1B0;
    position: absolute;
    width: 100%;
    height: 38px;
}
header{
    position: sticky;
    top: 0px;
    z-index: 10; 
}
h1{
    background-color: #00669F;
    height: 101px;
    font-weight: 400;
    width: 100%;
    padding: 28px;
    font-size: 40px;
    line-height: 47px;
    padding: 28px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);    
}

main section.contenedor{
   /*  position: relative; */
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;    
}

section.contenedor article.carta{
    position: relative;
   /*  height: 336px;
    width: 300px; */
    /* margin: 155px 30px 203px 30px; */
    margin-top: 150px;
    margin-bottom: 203px;
    /* margin: 3%; */ 
    justify-content: center;
    text-align: center;
}

article.carta div.backCard img{
    /* position:absolute; */
    border-radius: 16px 16px 0px 0px;
    width: 300px;
    height: 193px;
    /* display: inline-block; */
}
article.carta div.fotoCarnet img{
    position: absolute;
    width: 120px;
    height: 118px;
    top: 128px;
    left: 90px;
    z-index: 1;
    border-radius: 50%;
}
article.carta div.perfil{
    position: relative;
    background-color: #F3F3F3;
    width: 300px;
    height: 336px;
    padding: 80px 3px 3px;
    margin-top: -5px;
    /* margin-bottom: 10px; */
    /* padding: 15px; */
    /* margin: 32px; */
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.25);
}
article.carta div.perfil p{
    font-size: 16px;
    line-height: 19px;
    padding: 10px;
}
article.carta div.perfil h3{
    font-size: 30px;
    line-height: 36.5px;
}
article.carta div.perfil button{
    position: inherit;
    background-color:#00669F;
    color: white;
    font-size: 15px;
    line-height: 17px;
    width: 128.78px;
    height: 48.52px;
    top: 25px;
    bottom: 18px;

}

article.carta div.like{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}


footer{
    /* position: absolute; */
    color: white;
    background-color: #00669F;
    bottom: 0px;
    height: 51px;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    padding: 16px;
    /* display: inline; */  

} footer p{
    text-align: left;
    width: 100%;
    padding: 0px;
    display: block;
    box-sizing: border-box;
}
@media (max-width: 768px){
    h4{
        background-color: #D1891C;
        /* height: 61px;
        width: 100%;
        font-size: 48px; */
       /*  text-align: left; */
    }
    footer p{
        /* padding: 60px 60px; */
        text-align: center;
        
    }
   h1{
       color: white;
   }
   article.carta{
      /*  margin: 101px 115px 190px; */
      /* flex-direction: column; */
      gap: 5%;
   }

}
@media (max-width:375px){

}

